# Exporación de los datos

In [2]:
%pip install pandas numpy matplotlib seaborn scikit-learn

Collecting pandas
  Downloading pandas-2.3.1-cp313-cp313-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (91 kB)
Collecting numpy
  Downloading numpy-2.3.2-cp313-cp313-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (62 kB)
Collecting matplotlib
  Downloading matplotlib-3.10.5-cp313-cp313-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (11 kB)
Collecting seaborn
  Using cached seaborn-0.13.2-py3-none-any.whl.metadata (5.4 kB)
Collecting scikit-learn
  Downloading scikit_learn-1.7.1-cp313-cp313-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (11 kB)
Requirement already satisfied: python-dateutil>=2.8.2 in ./.venv/lib/python3.13/site-packages (from pandas) (2.9.0.post0)
Collecting pytz>=2020.1 (from pandas)
  Using cached pytz-2025.2-py2.py3-none-any.whl.metadata (22 kB)
Collecting tzdata>=2022.7 (from pandas)
  Using cached tzdata-2025.2-py2.py3-none-any.whl.metadata (1.4 kB)
Collecting contourpy>=1.0.1 (from matplotlib)
  Downloading contourpy-1.3.3-cp313-cp313-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (5.5 kB)
Collecting cycler>=0.10 (from matplotlib)
  Using cached cycler-0.12.1-py3-none-any.whl.metadata (3.8 kB)
Collecting fonttools>=4.22.0 (from matplotlib)
  Downloading fonttools-4.59.0-cp313-cp313-manylinux1_x86_64.manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_5_x86_64.whl.metadata (107 kB)
Collecting kiwisolver>=1.3.1 (from matplotlib)
  Using cached kiwisolver-1.4.8-cp313-cp313-manylinux_2_17_x86_64.manylinux2014_x86_64.whl.metadata (6.2 kB)
Requirement already satisfied: packaging>=20.0 in ./.venv/lib/python3.13/site-packages (from matplotlib) (25.0)
Collecting pillow>=8 (from matplotlib)
  Downloading pillow-11.3.0-cp313-cp313-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl.metadata (9.0 kB)
Collecting pyparsing>=2.3.1 (from matplotlib)
  Using cached pyparsing-3.2.3-py3-none-any.whl.metadata (5.0 kB)
Collecting scipy>=1.8.0 (from scikit-learn)
  Downloading scipy-1.16.1-cp313-cp313-manylinux2014_x86_64.manylinux_2_17_x86_64.whl.metadata (61 kB)
Collecting joblib>=1.2.0 (from scikit-learn)
  Using cached joblib-1.5.1-py3-none-any.whl.metadata (5.6 kB)
Collecting threadpoolctl>=3.1.0 (from scikit-learn)
  Using cached threadpoolctl-3.6.0-py3-none-any.whl.metadata (13 kB)
Requirement already satisfied: six>=1.5 in ./.venv/lib/python3.13/site-packages (from python-dateutil>=2.8.2->pandas) (1.17.0)
Downloading pandas-2.3.1-cp313-cp313-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (12.1 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 12.1/12.1 MB 3.7 MB/s  0:00:03m0:00:0100:01
Downloading numpy-2.3.2-cp313-cp313-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (16.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16.6/16.6 MB 4.1 MB/s  0:00:04m0:00:0100:01
Downloading matplotlib-3.10.5-cp313-cp313-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (8.7 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 8.7/8.7 MB 4.2 MB/s  0:00:02m0:00:0100:01
Using cached seaborn-0.13.2-py3-none-any.whl (294 kB)
Downloading scikit_learn-1.7.1-cp313-cp313-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (9.4 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 9.4/9.4 MB 4.5 MB/s  0:00:02 eta 0:00:01
Downloading contourpy-1.3.3-cp313-cp313-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (362 kB)
Using cached cycler-0.12.1-py3-none-any.whl (8.3 kB)
Downloading fonttools-4.59.0-cp313-cp313-manylinux1_x86_64.manylinux2014_x86_64.manylinux_2_17_x86_64.manylinux_2_5_x86_64.whl (4.9 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 4.9/4.9 MB 5.4 MB/s  0:00:00 eta 0:00:01
Using cached joblib-1.5.1-py3-none-any.whl (307 kB)
Using cached kiwisolver-1.4.8-cp313-cp313-manylinux_2_17_x86_64.manylinux2014_x86_64.whl (1.5 MB)
Downloading pillow-11.3.0-cp313-cp313-manylinux_2_27_x86_64.manylinux_2_28_x86_64.whl (6.6 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 6.6/6.6 MB 4.9 MB/s  0:00:01 eta 0:00:01
Using cached pyparsing-3.2.3-py3-none-any.whl (111 kB)
Using cached pytz-2025.2-py2.py3-none-any.whl (509 kB)
Downloading scipy-1.16.1-cp313-cp313-manylinux2014_x86_64.manylinux_2_17_x86_64.whl (35.2 MB)
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 35.2/35.2 MB 6.1 MB/s  0:00:05m0:00:0100:01
Using cached threadpoolctl-3.6.0-py3-none-any.whl (18 kB)
Using cached tzdata-2025.2-py2.py3-none-any.whl (347 kB)
Installing collected packages: pytz, tzdata, threadpoolctl, pyparsing, pillow, numpy, kiwisolver, joblib, fonttools, cycler, scipy, pandas, contourpy, scikit-learn, matplotlib, seaborn
   ━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━━ 16/16 [seaborn]5/16 [seaborn]ib]n]
Successfully installed contourpy-1.3.3 cycler-0.12.1 fonttools-4.59.0 joblib-1.5.1 kiwisolver-1.4.8 matplotlib-3.10.5 numpy-2.3.2 pandas-2.3.1 pillow-11.3.0 pyparsing-3.2.3 pytz-2025.2 scikit-learn-1.7.1 scipy-1.16.1 seaborn-0.13.2 threadpoolctl-3.6.0 tzdata-2025.2
Note: you may need to restart the kernel to use updated packages.

In [3]:
import pandas as pd
import numpy as np
import matplotlib.pyplot as plt
import seaborn as sns
import os

In [7]:
def read_data(file_path):
    """
    Reads a CSV file and returns a DataFrame.
    
    Parameters:
    file_path (str): The path to the CSV file.
    
    Returns:
    pd.DataFrame: The DataFrame containing the data.
    """
    try:
        # Try reading with UTF-8 encoding first
        return pd.read_csv(file_path, encoding='utf-8')
    except UnicodeDecodeError:
        # If UTF-8 fails, try with latin-1 encoding
        print(f"UTF-8 encoding failed for {file_path}, trying latin-1...")
        return pd.read_csv(file_path, encoding='latin-1')

def display_data_info(df):
    """
    Displays basic information about the DataFrame.
    
    Parameters:
    df (pd.DataFrame): The DataFrame to analyze.
    """
    print("DataFrame Info:")
    print(df.info())
    print("\nFirst 5 rows:")
    print(df.head())

In [8]:
data_path = os.path.join(os.getcwd(), "data")
dfs = []
for file in os.listdir(data_path):
    if file.endswith(".csv"):
        file_path = os.path.join(data_path, file)
        print(f"Processing file: {file}")
        df = read_data(file_path)
        display_data_info(df)
        dfs.append(df)

Processing file: producto.csv
DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12026 entries, 0 to 12025
Data columns (total 6 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   id            12026 non-null  int64
 1   categoria_id  10998 non-null  float64
 2   nombre        12026 non-null  object
 3   marca_id      11150 non-null  float64
 4   volumen       12026 non-null  int64
 5   precio        12020 non-null  float64
dtypes: float64(3), int64(2), object(1)
memory usage: 563.8+ KB
None

First 5 rows:
       id  categoria_id                            nombre  marca_id  volumen  \
0  356475           9.0                 Crown Royal Honey       1.0      750
1   15335           9.0      Crown Royal Regal Apple Mini       1.0      300
2   81345           9.0           Crown Royal Regal Apple       1.0      200
3  150318           9.0   Crown Royal Xr Canadian Whiskey       1.0      750
4  310791           9.0  Crown Royal Canadian Whisky Mini       1.0      300

   precio
0   22.49
1   11.03
2    7.08
3   98.99
4   11.03
Processing file: categoria.csv
DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 101 entries, 0 to 100
Data columns (total 2 columns):
 #   Column     Non-Null Count  Dtype
---  ------     --------------  -----
 0   id         101 non-null    int64
 1   categoria  101 non-null    object
dtypes: int64(1), object(1)
memory usage: 1.7+ KB
None

First 5 rows:
   id                       categoria
0   1                 SCOTCH WHISKIES
1   2       STRAIGHT BOURBON WHISKIES
2   3                BLENDED WHISKIES
3   4               IMPORTED DRY GINS
4   5  DECANTERS & SPECIALTY PACKAGES
Processing file: marca.csv
DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 307 entries, 0 to 306
Data columns (total 2 columns):
 #   Column  Non-Null Count  Dtype
---  ------  --------------  -----
 0   id      307 non-null    int64
 1   marca   307 non-null    object
dtypes: int64(1), object(1)
memory usage: 4.9+ KB
None

First 5 rows:
   id               marca
0   1     Diageo Americas
1   2  Heaven Hill Brands
2   3   Sazerac Co., Inc.
3   4      Sage Beverages
4   5             MHW Ltd
Processing file: events.csv
DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2756101 entries, 0 to 2756100
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   timestamp      int64
 1   visitorid      int64
 2   event          object
 3   itemid         int64
 4   transactionid  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 105.1+ MB
None

First 5 rows:
       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908            NaN
1  1433224214164     992329  view  248676            NaN
2  1433221999827     111016  view  318965            NaN
3  1433221955914     483717  view  253185            NaN
4  1433221337106     951259  view  367447            NaN
Processing file: cliente.csv
UTF-8 encoding failed for /home/diggspapu/Lab2/data/cliente.csv, trying latin-1...
DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          11719 non-null  float64
 1   nombre      11719 non-null  object
 2   apellido    11719 non-null  object
 3   nacimiento  11719 non-null  object
 4   genero      11719 non-null  object
 5   empresa     11719 non-null  object
 6   idioma      11719 non-null  object
 7   nit         11719 non-null  object
 8   puesto      11719 non-null  object
 9   ciudad      11719 non-null  object
 10  correo      11719 non-null  object
 11  telefono    11719 non-null  object
dtypes: float64(1), object(11)
memory usage: 1.1+ MB
None

First 5 rows:
         id   nombre  apellido nacimiento  genero       empresa   idioma  \
0  599528.0   Samuel      Ward     4/6/89    Male        Yakijo  Marathi
1  121688.0   Willie  Gonzales    6/29/72    Male     Zoonoodle  Maltese
2  552148.0    Betty   Spencer     9/2/83  Female       Youtags  Dhivehi
3  102019.0  Beverly    Jordan    1/15/72  Female      Fivespan    Hindi
4  189384.0  Cynthia    Flores     2/6/71  Female  Jabbersphere   Tsonga

           nit                     puesto     ciudad  \
0  411-44-7088               Geologist IV   Wangjing
1  701-87-7540             Programmer III  El Corozo
2  373-88-4503               Engineer III     Jinhua
3  447-80-5871  Software Test Engineer IV  Salvacion
4  803-60-8259         Speech Pathologist     Khorol

                     correo           telefono
0           sward0@tamu.edu   86-(786)608-5061
1     wgonzales1@apache.org   58-(265)301-3397
2  bspencer2@shutterfly.com   86-(195)193-9042
3        bjordan3@vimeo.com   63-(652)708-7688
4    cflores4@webeden.co.uk  380-(373)389-5435
DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 2756101 entries, 0 to 2756100
Data columns (total 5 columns):
 #   Column         Dtype
---  ------         -----
 0   timestamp      int64
 1   visitorid      int64
 2   event          object
 3   itemid         int64
 4   transactionid  float64
dtypes: float64(1), int64(3), object(1)
memory usage: 105.1+ MB
None

First 5 rows:
       timestamp  visitorid event  itemid  transactionid
0  1433221332117     257597  view  355908            NaN
1  1433224214164     992329  view  248676            NaN
2  1433221999827     111016  view  318965            NaN
3  1433221955914     483717  view  253185            NaN
4  1433221337106     951259  view  367447            NaN
Processing file: cliente.csv
UTF-8 encoding failed for /home/diggspapu/Lab2/data/cliente.csv, trying latin-1...
DataFrame Info:
<class 'pandas.core.frame.DataFrame'>
RangeIndex: 12000 entries, 0 to 11999
Data columns (total 12 columns):
 #   Column      Non-Null Count  Dtype
---  ------      --------------  -----
 0   id          11719 non-null  float64
 1   nombre      11719 non-null  object
 2   apellido    11719 non-null  object
 3   nacimiento  11719 non-null  object
 4   genero      11719 non-null  object
 5   empresa     11719 non-null  object
 6   idioma      11719 non-null  object
 7   nit         11719 non-null  object
 8   puesto      11719 non-null  object
 9   ciudad      11719 non-null  object
 10  correo      11719 non-null  object
 11  telefono    11719 non-null  object
dtypes: float64(1), object(11)
memory usage: 1.1+ MB
None

First 5 rows:
         id   nombre  apellido nacimiento  genero       empresa   idioma  \
0  599528.0   Samuel      Ward     4/6/89    Male        Yakijo  Marathi
1  121688.0   Willie  Gonzales    6/29/72    Male     Zoonoodle  Maltese
2  552148.0    Betty   Spencer     9/2/83  Female       Youtags  Dhivehi
3  102019.0  Beverly    Jordan    1/15/72  Female      Fivespan    Hindi
4  189384.0  Cynthia    Flores     2/6/71  Female  Jabbersphere   Tsonga

           nit                     puesto     ciudad  \
0  411-44-7088               Geologist IV   Wangjing
1  701-87-7540             Programmer III  El Corozo
2  373-88-4503               Engineer III     Jinhua
3  447-80-5871  Software Test Engineer IV  Salvacion
4  803-60-8259         Speech Pathologist     Khorol

                     correo           telefono
0           sward0@tamu.edu   86-(786)608-5061
1     wgonzales1@apache.org   58-(265)301-3397
2  bspencer2@shutterfly.com   86-(195)193-9042
3        bjordan3@vimeo.com   63-(652)708-7688
4    cflores4@webeden.co.uk  380-(373)389-5435